<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject]
    ProfileService ProfileService { get; set; }
    [Inject]
    HttpClient Http { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("https://gpblobfreestorage.blob.core.windows.net/test/profileInfo.json");

        if (response.IsSuccessStatusCode)
        {
            var profile = await response.Content.ReadFromJsonAsync<Profile>();
            ProfileService.SetProfile(profile);
        }
        else
        {
            Console.WriteLine("Failed to get profile info.");
        }
    }
}